@use 'utils' as *;
@use 'layouts/identification';
@use 'layouts/morphologie';
@use 'layouts/pratique';
@use 'layouts/resume';
@use 'layouts/resultat';
@use 'layouts/navigation';
@use 'layouts/footer';

// Small devices (small phones, 370px and up)
@media (min-width: 370px) {
   .hide-small {
      display: contents;
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) {

   // First page : Accueil
   main {
      display: flex;
      align-content: center;
      justify-content: space-around;
      height: 100vh;
   }

   .display-none {
      display: contents
   }

   #navigation {
      #logo--navigation__width {
         width: 200px;
         height: 50px;
      }

      #navigation--content {
         margin-top: 4rem;
         margin-bottom: 1rem;
      }
   }

   #section--form {
      width: 100%;
      min-height: 100vh;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      padding: 2rem 4rem;

      #form {
         height: 60vh;
         padding: 1rem 2rem 3rem 2rem;
         overflow-y: auto;

         h1 {
            margin-bottom: 1rem;
         }

         h2 {
            font-size: 20px;
         }
      }

      #form--circles__1 {
         @include form-cercles__left(40rem, -36rem, -10rem, $circles)
      }

      #form--circles__2 {
         @include form-cercles__left(40rem, -32rem, -20rem, $circles)
      }

      #form--circles__3 {
         @include form-cercles__right(40rem, -30rem, -10rem, $circles)
      }

      #form--circles__4 {
         @include form-cercles__right(40rem, -30rem, -20rem, $circles)
      }
   }

   .morphologie--form {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 2rem;
      padding-bottom: 0;
   }

   #footer {
      background: linear-gradient(180deg, #ffffff00 -2.25%, #ffffff00 66.48%);
      width: 100%;
      height: 8rem;
      position: absolute;
      padding: 0 6rem 2rem 6rem;
   }

   #footer--morphologie {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -2.25%, #FFFFFF 66.48%);
      width: 100%;
      height: 8rem;
      position: absolute;
      padding: 0 6rem 2rem 6rem;
   }

   #footer--resultat {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -2.25%, #ffffff00 66.48%);
      width: 100%;
      height: 8rem;
      position: relative;

      a {
         color: $white
      }

      .footer--button__how {
         @include footer--button__how($white, $dark, 21rem);
         margin-bottom: 0.75rem;
      }
   }

   // Home page : Index
   #section--image {
      display: block;
      width: 55%;
      height: auto;
      z-index: 5;
      background-image: url("/assets/images/image.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
   }

   // First page : Morphologie
   #section--image--morphologie {
      display: block;
      width: 55%;
      height: auto;
      z-index: 5;
      background-image: url("/assets/images/morphologie.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
   }

   // Second page : Pratique
   #section--image--pratique {
      display: block;
      width: 55%;
      height: auto;
      z-index: 5;
      background-image: url("/assets/images/pratique.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
   }

   // Last page : Resume
   #section--image--resume {
      display: block;
      width: 55%;
      height: auto;
      z-index: 5;
      background-image: url("/assets/images/resume.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
   }

   // Resultat image
   #section--image--resultat {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -9999;
      background-image: url("/assets/images/resultat.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
   }

   #section--modal {
      width: 100vw;
      height: 100vh;
      background-color: rgba(26, 26, 26, 0.5);

      .modal--menu {
         width: 45rem;
         padding: 2rem;
         border-radius: 12px;
         position: relative;

         .modal--context {
            flex-direction: row;

            img {
               margin-right: 1.625rem;
            }
         }

         .block {
            height: auto;
            position: relative;
            padding: 0;
         }
      }
   }

   #pratique--modal {
      width: 100vw;
      height: 100vh;
      background-color: rgba(26, 26, 26, 0.5);

      .modal--menu {
         width: 45rem;
         padding: 2rem;
         border-radius: 12px;
         position: relative;

         .modal--context {
            flex-direction: column;

            #first-content,
            #second-content {
               display: flex;
            }

            img {
               margin-right: 1.625rem;
               margin-bottom: 0
            }
         }

         p {
            @include paragraph(16px, $grey, 400);
         }

         h4 {
            margin-top: 1rem;
         }

         .block {
            height: auto;
            position: relative;
            padding: 0;
         }
      }
   }

   .velo--container {
      .vtmn-select_container {
         width: 30%;
      }
   }

   .card--container {
      margin-bottom: 1.5rem;
   }

   .resume--block {
      margin-bottom: 2rem;

      .resume--desc {
         padding: 1.5rem 0;
      }

      hr:nth-of-type(3) {
         visibility: hidden;
      }

      #first--section,
      #second--section {
         width: 100%;
      }
   }

   .resultat--block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 2rem;
      overflow-x: hidden;
      padding-bottom: 0;

      .vtmn-card_image {
         img {
            width: 200px;
            height: 125px;
         }
      }

      .block {
         width: 16rem;
         height: 15rem;
      }

      .block .vtmn-card {
         width: 400px;
      }
   }

   #navigation-resultat {

      #logo--navigation__width {
         width: 200px;
         height: 50px;
      }

      #navigation--content {
         margin-top: 2.5rem;
         margin-bottom: 2rem;
         width: 60%;
      }
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1124px) {
   .morphologie--form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
      padding-bottom: 0;
   } 

   .card--container {
      width: 70%;
      margin-bottom: .5rem;
   }

   .resume--block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      column-gap: 2rem;
      margin-bottom: 0.5rem;
      flex-direction: row;
   } 
}