@mixin paragraph($font-size, $color, $font-weight) {
   font-weight: $font-weight;
   font-size: $font-size;
   line-height: 20px;
   color: $color;
}

@mixin title($font-size, $color, $font-weight, $line) {
   font-weight: $font-weight;
   font-size: $font-size;
   line-height: $line;
   color: $color;
}

@mixin navigation-circles($color, $bg) {
   // Font parameters
   cursor: not-allowed;
   font-weight: 700;
   font-size: 16px;
   color: $color;
   line-height: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   // Border parameters
   margin-left: auto;
   margin-right: auto;
   border-radius: 99px;
   border: 2px solid $color;
   background-color: $bg;
   width: 32px;
   height: 32px;
}

@mixin navigation-circles__validate($color, $bg) {
   // Font parameters
   font-weight: 700;
   font-size: 16px;
   color: $color;
   line-height: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   // Border parameters
   margin-left: auto;
   margin-right: auto;
   border-radius: 99px;
   background-color: $bg;
   width: 32px;
   height: 32px;
}

@mixin navigation-text($color) {
   // Font parameters
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   margin-top: 1rem;
   color: $color;
}

@mixin footer-button__next($blue, $white) {
   background-color: $blue;
   color: $white;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   text-decoration: none;
   padding: 16px 30px;
   border-radius: 4px;
   display: inline-flex;
   justify-content: center;
   align-items: center;

   span {
      margin-left: 0.5rem;
   }

   &:hover {
      background-color: $blue;
   }
}

@mixin footer-button__prev($blue, $white, $grey) {
   background-color: $blue;
   color: $white;
   border: 2px solid $grey;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   text-decoration: none;
   padding: 14px 30px;
   border-radius: 4px;
   display: inline-flex;
   justify-content: center;
   align-items: center;

   span {
      margin-right: 0.5rem;
   }

   &:hover {
      background-color: $blue;
   }
}

@mixin footer--button__how($blue, $white, $size) {
   background-color: $blue;
   text-align: center;
   color: $white;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   text-decoration: none;
   padding: 16px 30px;
   border-radius: 4px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: $size;
   margin-bottom: 0.5rem;

   i {
      margin-right: 0.5rem;
   }

   &:hover {
      background-color: $blue;
   }
}

@mixin form-cercles__left($size, $positionX, $positionY, $circle) {
   width: $size;
   height: $size;
   position: absolute;
   left: $positionX;
   bottom: $positionY;
   border: 1px solid $circle;
   border-radius: 9999px;
   opacity: 0.3;
   z-index: -20;
}

@mixin form-cercles__right($size, $positionX, $positionY, $circle) {
   width: $size;
   height: $size;
   position: absolute;
   right: $positionX;
   bottom: $positionY;
   border: 1px solid $circle;
   border-radius: 9999px;
   opacity: 0.3;
   z-index: -20;
}