@use '../utils' as *;

// Form settings (input, radio..)
#form {
   padding: 1.8rem 1rem;

   h1 {
      @include paragraph(24px, $dark, 700);
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 1rem;
   }

   h2 {
      @include paragraph(18px, $dark-grey, 700);
      margin-bottom: .3rem;
   }

   .form--desc {
      @include paragraph(16px, $grey, 400);
      margin-top: 0;
      margin-bottom: 2rem;
   }

   label {
      margin-right: 1.4rem;
   }
}