@use '../utils' as *;

.velo--container {
   .vtmn-select_container {
      width: 100%;
   }

   label {
      @include paragraph(16px, $dark, 700);
      font-style: italic;
      text-transform: uppercase;
   }
}

.card--container {
   margin-top: 1.5rem;
   margin-bottom: 4rem;

   .card--desc {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
         @include paragraph(16px, $dark, 700);
         font-style: italic;
         text-transform: uppercase;
         width: auto;
      }

      a {
         display: flex;

         img {
            margin-right: 0.3rem;
         }

         p {
            @include paragraph(14px, $blue, 700);
         }
      }
   }

   .card {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      background-color: $white;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 4px;
      border: 1px solid $grey;

      &:hover {
         -webkit-box-shadow: 0px 0px 0px 4px #E7F3F9;
         box-shadow: 0px 0px 0px 4px #E7F3F9;
      }

      h4 {
         @include paragraph(16px, $dark, 700);
         margin-bottom: 0.3rem;
      }

      p {
         @include paragraph(14px, $grey, 400);
         width: 90%;
      }

      img {
         margin-right: 1rem;
      }
   }
}