@use '../utils' as *;

.resultat--block {
   margin-top: 1.5rem;
   padding-bottom: 8rem;

   .block {
      margin-bottom: 1.5rem;
   }

   .vtmn-card {
      border: 2px solid $blue;

      .vtmn-card_content {

         .card--content_flex {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
         }

         a {
            display: flex;
            align-items: center;
            margin-top: 0;
            @include paragraph(14px, $blue, 700);

            p {
               @include paragraph(14px, $blue, 700)
            }

            .material-symbols-outlined {
               margin-right: 0.2rem;
               font-size: 18px;
            }
         }

         p {
            @include paragraph(18px, $blue, 400);
            margin-top: 0;
         }
      }

      img {
         margin-left: auto;
         margin-right: auto;
         aspect-ratio: 0;
      }
   }
}